--------OAuth2.0 Client Configuration---------
scope=
grant_type=password
username=beingjavaguys
password=spring@java
client_id=restapp1
client_secret=restapp
access_token=
refresh_token=
authentication_server_url=http://localhost:18080/company/oauth/token
resource_server_url=http://localhost:18080/company/services/companies/16
------------------------------------------------






















